{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "proseWrap": "always"
}
